# Homework 1

`airbnb.csv` 데이터셋은 airbnb에 등록된 샌프란시스코 지역의 listing 데이터의 일부이다. 

- 'id': listing id
- 'room_type': 집 또는 방의 형태 (entire home/apt, private room, shared room)
- 'number_of_reviews': 총 리뷰 수
- 'review_scores_rating': 전체 리뷰 점수 
- 'review_scores_accuracy', 'review_scores_cleanliness','review_scores_checkin', 'review_scores_communication','review_scores_location', 'review_scores_value': 각 부분의 리뷰 점수
- 'reviews_per_month': 월 평균 리뷰 수 
- 'Downtown': Downtown까지의 거리 
- 'PerCapitaIncome': 해당 지역의 소득수준
- 'most_freq_aspect': listing description에서 가장 많이 나타난 주제

아래의 질문에 답하기 위해 적절한 통계량/그래프를 출력하고 서술하시오. 완성된 답안은 **html** 파일로 다운받아 제출하시오. (File>Download as>HTML)

In [5]:
import pandas as pd
import pandas as pd
import numpy as np
from scipy.stats import trim_mean
from statsmodels import robust

import seaborn as sns
import matplotlib.pylab as plt
data = pd.read_csv('../data/airbnb.csv')

#### 1. 데이터가 포함한 다음 변수의 종류를 구분하시오.
- id
- room_type
- number_of_reviews
- Downtown
- most_freq_aspect

In [6]:
data

,id,room_type,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month,Downtown,PerCapitaIncome,most_freq_aspect
0,958,Entire home/apt,222.0,97.0,10.0,10.0,10.0,10.0,10.0,9.0,1.77,4068.132073,110777,int_style
1,3850,Private room,167.0,95.0,10.0,10.0,10.0,10.0,10.0,10.0,1.33,6792.053605,93008,comm
2,5858,Entire home/apt,111.0,98.0,10.0,10.0,10.0,10.0,10.0,9.0,0.87,5666.128342,69778,nature
3,7918,Private room,18.0,86.0,8.0,8.0,9.0,9.0,9.0,8.0,0.15,5573.866947,99041,comm
4,8142,Private room,8.0,93.0,9.0,9.0,10.0,10.0,9.0,9.0,0.13,5632.882874,99041,comm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6100,39413362,Private room,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,7703.704979,75119,bldg
6101,39652916,Private room,1.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.00,5506.885308,61740,bldg
6102,39654300,Entire home/apt,1.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.00,5354.254655,61740,nbhd
6103,39704725,Private room,1.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.00,7646.091834,45475,bldg
6104,29009564,Entire home/apt,3.0,100.0,9.0,10.0,8.0,10.0,10.0,10.0,0.23,524.506491,59254,comm

In [8]:
data.describe()

,id,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month,Downtown,PerCapitaIncome
count,6.105000e+03,6105.000000,6070.000000,6065.000000,6065.000000,6064.000000,6066.000000,6064.000000,6064.000000,6105.000000,6105.000000,6105.000000
mean,1.717315e+07,59.095659,95.634926,9.775763,9.620115,9.860488,9.832344,9.695086,9.395778,1.888251,4946.973042,72815.016544
std,1.161224e+07,86.412078,7.099776,0.658945,0.794393,0.548486,0.614270,0.700982,0.825550,2.089904,2647.897476,27930.764771
min,9.580000e+02,1.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0.010000,199.766778,9418.000000
25%,6.348742e+06,5.000000,95.000000,10.000000,9.000000,10.000000,10.000000,10.000000,9.000000,0.310000,3020.831703,51806.000000
50%,1.748289e+07,22.000000,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.030000,4685.155845,71145.000000
75%,2.664325e+07,78.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.870000,6792.053605,93008.000000
max,3.970472e+07,763.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,18.000000,11573.161316,167720.000000

In [10]:
id = data.id
room_type = data.room_type
reviews = data.number_of_reviews
downtown = data.Downtown
freq = data.most_freq_aspect

In [11]:
freq

0       int_style
1            comm
2          nature
3            comm
4            comm
          ...
6100         bldg
6101         bldg
6102         nbhd
6103         bldg
6104         comm
Name: most_freq_aspect, Length: 6105, dtype: object

#### 2. `reviews_per_month`의 평균, 중위수를 계산하고 비교하여 분포의 모양을 추측해보시오.

In [12]:
reviews.describe()

count    6105.000000
mean       59.095659
std        86.412078
min         1.000000
25%         5.000000
50%        22.000000
75%        78.000000
max       763.000000
Name: number_of_reviews, dtype: float64

#### 3. `reviews_per_month`의 히스토그램을 통해 위에서 추측한 사실이 맞는지 확인해보시오.

#### 4. `reviews_per_month`의 평균과 중위수를 각 `room_type`별로 계산하여 비교하시오.

#### 5. `reviews_per_month`의 Boxplot을  `room_type`별로 그려서 비교하시오.

#### 6. `most_freq_aspect`의 도수분포표를 출력하고 이를 활용해 bar plot을 그려서 어떤 aspect가 가장 빈번하게 나타났는지 확인하시오.

#### 7. `room_type`과 `most_freq_aspect`의 mosaic plot을 통해 room type에 따라 자주 나타나는 aspect의 특징이 다른지 비교하시오.

#### 8. 7개의 review_scores 변수들과 `Downtown`, `PerCapitaIncome`, `reviews_per_month` 변수와의 상관계수 행렬과 그것의 heatmap을 통해 변수들 간의 상관관계를 관찰하고 서술하시오.